.flex-container {
    display: flex;
}

.flex {
    border: 2px solid black;
    margin-right: 10px;
    color: black;
    padding-left: 5px
}  

.left {
    flex: 0.25;
    background-color: lightgreen;
}

.right {
    flex: 0.75;
    background-color: lightblue;
} 

.bilatu-botoia {
    margin-left: 100px;
}

.gezi-botoiak {
    margin-left: 400px;
}

.irudia{
    margin-left: 100px;
    margin-top: -10px
}